@inject Limupa.Helpers.SettingService service;
@{
    List<Setting> settings = await service.GetSettingsAsync();
}
<!doctype html>
<html class="no-js" lang="zxx">

<!-- index-431:41-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Version Four || limupa - Digital Products Store ECommerce Bootstrap 4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">
    <!-- Material Design Iconic Font-V2.2.0 -->
    <link rel="stylesheet" href="~/assets/css/material-design-iconic-font.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <!-- Font Awesome Stars-->
    <link rel="stylesheet" href="~/assets/css/fontawesome-stars.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <!-- Slick Carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- Jquery-ui CSS -->
    <link rel="stylesheet" href="~/assets/css/jquery-ui.min.css">
    <!-- Venobox CSS -->
    <link rel="stylesheet" href="~/assets/css/venobox.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <!-- Bootstrap V4.1.3 Fremwork CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Helper CSS -->
    <link rel="stylesheet" href="~/assets/css/helper.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- Modernizr js -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    @RenderSection("css",required:false)
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Begin Body Wrapper -->
    <div class="body-wrapper">
        <!-- Begin Header Area -->
        <header class="li-header-4">
            <!-- Begin Header Top Area -->
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- Begin Header Top Left Area -->
                        <div class="col-lg-3 col-md-4">
                            <div class="header-top-left">
                                <ul class="phone-wrap">
                                    <li><span>Telephone Enquiry:</span><a href="#">@settings.FirstOrDefault(x=>x.Key=="Phone").Value</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Header Top Left Area End Here -->
                        <!-- Begin Header Top Right Area -->
                        <div class="col-lg-9 col-md-8">
                            <div class="header-top-right">
                                <ul class="ht-menu">
                                    <!-- Begin Setting Area -->
                                    <li>
                                        <div class="ht-setting-trigger"><span>Setting</span></div>
                                        <div class="setting ht-setting">
                                            <ul class="ht-setting-list profilecss">
                                                <li><a asp-action="checkout" asp-controller="product">Checkout</a></li>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <li><a asp-action="profile" asp-controller="accountuser">@User.Identity.Name</a></li>
                                                    <li><a asp-action="logout" asp-controller="accountuser">Logout</a></li>
                                                }
                                                else
                                                {
                                                    <li><a asp-action="register" asp-controller="accountuser">Register</a></li>
                                                    <li><a asp-action="login" asp-controller="accountuser">Login</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- Setting Area End Here -->
                                    
                                   
                                </ul>
                            </div>
                        </div>
                        <!-- Header Top Right Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Header Top Area End Here -->
            <!-- Begin Header Middle Area -->
            <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
                <div class="container">
                    <div class="row">
                        <!-- Begin Header Logo Area -->
                        <div class="col-lg-3">
                            <div class="logo pb-sm-30 pb-xs-30">
                                <a asp-action="index" asp-controller="">
                                    <img src="~/assets/images/menu/logo/@settings.FirstOrDefault(x=>x.Key=="Logo").Value" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- Header Logo Area End Here -->
                        <!-- Begin Header Middle Right Area -->
                        <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                            <!-- Begin Header Middle Right Area -->
                            <div class="header-middle-right">
                                <ul class="hm-menu">
                                    <!-- Begin Header Middle Wishlist Area -->
                                    <li class="hm-wishlist">
                                        <a asp-action="wishlist" asp-controller="product">
                                            <i class="fa fa-heart-o"></i>
                                        </a>
                                    </li>
                                    <!-- Header Middle Wishlist Area End Here -->
                                    <!-- Begin Header Mini Cart Area -->
                                    <div class="hm-minicart">
                                        <div >
                                            <a asp-action="checkout" asp-controller="product">
                                                <span class="item-icon "></span>
                                            </a>
                                        </div>
                                        <span></span>
                                     @*   <div class="minicart">
                                            <ul class="minicart-product-list">
                                            </ul>
                                            <div class="minicart-button">
                                                <a asp-action="checkout" asp-controller="product" class="li-button li-button-fullwidth li-button-sm">
                                                    <span>Checkout</span>
                                                </a>
                                            </div>
                                        </div>*@
                                    </div>
                                    <!-- Header Mini Cart Area End Here -->
                                </ul>
                            </div>
                            <!-- Header Middle Right Area End Here -->
                        </div>
                        <!-- Header Middle Right Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Header Middle Area End Here -->
            <!-- Begin Header Bottom Area -->
            <div class="header-bottom header-sticky stick d-none d-lg-block d-xl-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Begin Header Bottom Menu Area -->
                            <div class="hb-menu">
                                <nav>
                                    <ul>
                                        <li >
                                            <a asp-action="index" asp-controller="home" >Home</a>
                                        </li>
                                        <li >
                                            <a asp-action="shop" asp-controller="home">Shop</a>
                                            <ul class="megamenu hb-megamenu">
                                                <li>
                                                    <a href="shop-left-sidebar.html">Shop Page Layout</a>
                                                </li>
                                                <li>
                                                    <a href="single-product-gallery-left.html">Single Product Style</a>
                                                </li>
                                                <li>
                                                    <a href="single-product.html">Single Products</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li >
                                            <a asp-action="blog" asp-controller="home">Blog</a>
                                            <ul >
                                                
                                            </ul>
                                        </li>
                                        <li><a asp-action="aboutus" asp-controller="home">About Us</a></li>
                                        <li></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header Bottom Menu Area End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Bottom Area End Here -->
            <!-- Begin Mobile Menu Area -->
            <div class="mobile-menu-area mobile-menu-area-4 d-lg-none d-xl-none col-12">
                <div class="container">
                    <div class="row">
                        <div class="mobile-menu">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area End Here -->
        </header>
        <!-- Header Area End Here -->
        @RenderBody()
        <!-- Begin Footer Area -->
        <div class="footer">
            <!-- Begin Footer Static Top Area -->
            <div class="footer-static-top">
                <div class="container">
                    <!-- Begin Footer Shipping Area -->
                    <div class="footer-shipping pt-60 pb-25">
                        <div class="row">
                            <!-- Begin Li's Shipping Inner Box Area -->
                            <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                                <div class="li-shipping-inner-box">
                                    <div class="shipping-icon">
                                        <img src="~/assets/images/shipping-icon/1.png" alt="Shipping Icon">
                                    </div>
                                    <div class="shipping-text">
                                        <h2>Free Delivery</h2>
                                        <p>And free returns. See checkout for delivery dates.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Li's Shipping Inner Box Area End Here -->
                            <!-- Begin Li's Shipping Inner Box Area -->
                            <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                                <div class="li-shipping-inner-box">
                                    <div class="shipping-icon">
                                        <img src="~/assets/images/shipping-icon/2.png" alt="Shipping Icon">
                                    </div>
                                    <div class="shipping-text">
                                        <h2>Safe Payment</h2>
                                        <p>Pay with the world's most popular and secure payment methods.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Li's Shipping Inner Box Area End Here -->
                            <!-- Begin Li's Shipping Inner Box Area -->
                            <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                                <div class="li-shipping-inner-box">
                                    <div class="shipping-icon">
                                        <img src="~/assets/images/shipping-icon/3.png" alt="Shipping Icon">
                                    </div>
                                    <div class="shipping-text">
                                        <h2>Shop with Confidence</h2>
                                        <p>Our Buyer Protection covers your purchasefrom click to delivery.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Li's Shipping Inner Box Area End Here -->
                            <!-- Begin Li's Shipping Inner Box Area -->
                            <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                                <div class="li-shipping-inner-box">
                                    <div class="shipping-icon">
                                        <img src="~/assets/images/shipping-icon/4.png" alt="Shipping Icon">
                                    </div>
                                    <div class="shipping-text">
                                        <h2>24/7 Help Center</h2>
                                        <p>Have a question? Call a Specialist or chat online.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Li's Shipping Inner Box Area End Here -->
                        </div>
                    </div>
                    <!-- Footer Shipping Area End Here -->
                </div>
            </div>
            <!-- Footer Static Top Area End Here -->
            <!-- Begin Footer Static Middle Area -->
            <div class="footer-static-middle">
                <div class="container">
                    <div class="footer-logo-wrap pt-50 pb-35">
                        <div class="row">
                            <!-- Begin Footer Logo Area -->
                            <div class="col-lg-4 col-md-6">
                                <div class="footer-logo">
                                    <img src="~/assets/images/menu/logo/@settings.FirstOrDefault(x=>x.Key=="Logo").Value" alt="Footer Logo">
                                    <p class="info">
                                        We are a team of designers and developers that create high quality HTML Template & Woocommerce, Shopify Theme.
                                    </p>
                                </div>
                                <ul class="des">
                                    <li>
                                        <span>Address: </span>
                                        @settings.FirstOrDefault(x=>x.Key=="Adress").Value
                                    </li>
                                    <li>
                                        <span>Phone: </span>
                                        <a href="#">@settings.FirstOrDefault(x=>x.Key=="Phone").Value</a>
                                    </li>
                                    <li>
                                        <span>Email: </span>
                                        <a href="mailto://info@yourdomain.com">@settings.FirstOrDefault(x=>x.Key=="Email").Value</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Footer Logo Area End Here -->
                            <!-- Begin Footer Block Area -->
                            <div class="col-lg-2 col-md-3 col-sm-6">
                                <div class="footer-block">
                                </div>
                            </div>
                            <!-- Footer Block Area End Here -->
                            <!-- Begin Footer Block Area -->
                            <div class="col-lg-2 col-md-3 col-sm-6">
                                <div class="footer-block">
                                    <h3 class="footer-block-title">Our company</h3>
                                    <ul>
                                        <li><a asp-action="faq" asp-controller="home">FAQ</a></li>
                                        <li><a asp-action="aboutus" asp-controller="home">About us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Footer Block Area End Here -->
                            <!-- Begin Footer Block Area -->
                            <div class="col-lg-4">
                                <div class="footer-block">
                                    <h3 class="footer-block-title">Follow Us</h3>
                                    <ul class="social-link">
                                        <li class="twitter">
                                            <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="rss">
                                            <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="RSS">
                                                <i class="fa fa-rss"></i>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google +">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="youtube">
                                            <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                                <i class="fa fa-youtube"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://www.instagram.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Footer Block Area End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Static Middle Area End Here -->
            <!-- Begin Footer Static Bottom Area -->
            <div class="footer-static-bottom pt-55 pb-55">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Begin Footer Payment Area -->
                            <div class="copyright text-center">
                                <a >
                                    <img src="~/assets/images/payment/1.png" alt="">
                                </a>
                            </div>
                            <!-- Footer Payment Area End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Static Bottom Area End Here -->
        </div>
        <!-- Footer Area End Here -->
        <!-- Begin Quick View | Modal Area -->
        <div class="modal fade modal-wrapper" id="exampleModalCenter">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body product-detail-modal">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                     @*modalll*@
                    </div>
                </div>
            </div>
        </div>
        <!-- Quick View | Modal Area End Here -->
    </div>
    <!-- Body Wrapper End Here -->
    <!-- jQuery-V1.12.4 -->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/assets/js/vendor/popper.min.js"></script>
    <!-- Bootstrap V4.1.3 Fremwork js -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Ajax Mail js -->
    <script src="~/assets/js/ajax-mail.js"></script>
    <!-- Meanmenu js -->
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>
    <!-- Wow.min js -->
    <script src="~/assets/js/wow.min.js"></script>
    <!-- Slick Carousel js -->
    <script src="~/assets/js/slick.min.js"></script>
    <!-- Owl Carousel-2 js -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- Magnific popup js -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope js -->
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- Mixitup js -->
    <script src="~/assets/js/jquery.mixitup.min.js"></script>
    <!-- Countdown -->
    <script src="~/assets/js/jquery.countdown.min.js"></script>
    <!-- Counterup -->
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <!-- Waypoints -->
    <script src="~/assets/js/waypoints.min.js"></script>
    <!-- Barrating -->
    <script src="~/assets/js/jquery.barrating.min.js"></script>
    <!-- Jquery-ui -->
    <script src="~/assets/js/jquery-ui.min.js"></script>
    <!-- Venobox -->
    <script src="~/assets/js/venobox.min.js"></script>
    <!-- Nice Select js -->
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <!-- ScrollUp js -->
    <script src="~/assets/js/scrollUp.min.js"></script>
    <!-- Main/Activator js -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/modal.js"></script>
    <script src="~/assets/js/Checkout.js"></script>
    <script src="~/assets/js/Delete.js"></script>
    <script src="~/assets/js/bassssssssssket.js"></script>
</body>

<!-- index-431:47-->
</html>
